:root {
    --main-color: #9189A1;
    --secondary-color: #FBFBFB;
}

body {
    margin: 0;
    background-color: var(--main-color);
    color: #ffffff;
    font-family: "Playfair Display", serif;
    height: auto;
}

.container {
    margin: 0 auto;
}

.font-regular {
    font-weight: 400;
}