.title {
    width: 100%;
    height: 518px; 
    padding: 0 0 38px 0;

}

.container__title {
    display: flex;
    justify-content: space-between;
  
}

.title-text {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    font-size: 66px;
    color: var(--secondary-color);
    width: 50%;
}

.title-image {
    width: 50%;

    
}



.title-image img {
    height: 385px; 
    width: 925px;
    object-fit: cover; 
}